@import "../../style/Utils/Variables.scss";

.profil_container {
    &_middle {
        display: flex;
        flex-direction: row;
        &_content {
            padding: 15px 95px;
            &_greetings {
                font-size: 48px;
                margin: 30px 0 20px 0;
                &_name {
                    color: $primary-color;
                }
            }
            &_cheer {
                font-size: 18px;
                margin: 10px 0 65px 0;
            }
            &_graphics {
                display: flex;
                flex-direction: row;
                &_squares {
                    display: flex;
                    flex-direction: row;
                    gap: 30px;
                }
                &_right {
                    margin-left: 30px;
                    display: flex;
                    flex-direction: column;
                    gap: 39.5px;
                }
            }
        }
    }
}
