@import "../../style/Utils/Variables.scss";

.profil_container {
    &_middle {
        display: flex;
        &_content {
            padding: 15px 95px;
            &_greetings {
                font-size: 48px;
                margin-bottom: 20px;
                &_name {
                    color: $primary-color;
                }
            }
            &_cheer {
                font-size: 18px;
                margin: 10px 0 65px 0;
            }
            &_graphics {
                &_squares {
                    display: flex;
                    gap: 30px;
                }
            }
        }
    }
}
