@import "../../style/Utils/Variables.scss";

.userPerformance_container {
    width: 258px;
    height: 263px;
    background-color: #282d30;
    border-radius: 5px;
    @media (max-width: 1024px) {
        width: 166px;
        height: 180px;
    }
}
